<h1>PIX</h1>

<body>
   <script type="text/javascript">
    window.currentUser = <%= @user.html_safe %>
   </script>
   this is static_page root <br>
   this will later be filled with components
  <main id = "root">
  </main>
</body>
