.frame-commentSection {
  height: 100px;
  background:rgba(0,0,0,0.2);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.frame-commentSection::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      background-color: rgba(0,0,0,.2);
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.comment-author-wrapper {
  display: flex;
  height: 15px;
  justify-content: space-between;
  align-items: center;
  border-left: 3px solid #9ACD32;
}

.comment-author {
  margin-left: 3px;
  width: inherit;
  text-align: left;
}

#DELETE_COMMENT{
  width: 10px;
  margin-right: 10px;
  color: white;
}

#DELETE_COMMENT:hover {
  font-weight: bold;
  color: orange;
  cursor: pointer;
}

.comment main {
  display: flex;
  word-wrap: break-word;
  width: 430px;
  text-align: left;
  margin-left: 20px;
  margin-right: 0;
  color: white;
}

.input-wrapper{
  display: flex;
}

.commentSubmit {
  width: 100%;
  height: 22px;
  border: none;
  border-left: 3px solid #9ACD32;
  border-top: 1px solid #ccc;
  background-position: 5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAATCAQAAAA6heU+AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfgChgXEBRM/KUqAAABaklEQVQoz33SMUjUARTH8c/9zyKNQj3LMyuuCCMVl0A6aygIbGgKLrGlCyQQx0BwampqKd2awiEyIrhIyJqsqKuha/CgqCiNS8SgBBPuHK5BTwP1/13e8L4P3uP9IioEWqV0O6TasoIXxrxVqrQjqzWmX1pR1pQ/arRIajLupq/+I+Gx765pXhukTq+c95Lr2h7jck7YSELGlI7Kbjd80Wlzmk3K2AWdvhmwNWcUXITbchpDxG0eeGR74KxX5kLEZU+1OxA4KA/aDDmK44YkcNKgfeCjHfZTcglcVzaIW8qu4q6yHtBh2vkqRbvBQ0UZjJr1DHfkvQQ7Rfwlb0Q4V3x2JPDcqdCrSfrhZ+CeWqlQ8ZO4xqhZDfpkFbYUF1w2v/LrJz5s+uu9Yqhy35solrzWZUDUjMU1qc4Fw9Ka/FKjtxKrev3SSrLyfqvWokvchHnnxERMr+cvcExKt8OrCZ805p2SuNMaTPwDiSpeYsqHB9oAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTYtMTAtMjRUMjM6MTY6MjAtMDQ6MDDmyJaaAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE2LTEwLTI0VDIzOjE2OjIwLTA0OjAwl5UuJgAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  padding-left: 33px;
}
