h1, h2, body, .stream-menu, .frame-userName {
  font-family: 'Montserrat', sans-serif;
  font: bold;
}

.frame-userName {
  font-size: 30px;
}

.menu-bar {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

body {
  font-size: 20px;
  text-align: center
}

.stream-menu {
  font-family: 'Open Sans', sans-serif;
}

/*any links with name*/
a.comment-author:hover {
  text-decoration: none;
}
a.comment-author {
  font-size: 15px;
}
a {
   float: left;
   text-align: left;
   color: black;
   width: 450px;
	 text-decoration: none;
   margin-left: 5px;
   margin-bottom: 0;
   padding-bottom: 0;
}

/*frame author name*/
h2 a:hover {
  text-decoration: none;
}
h2 a {
  float: left;
  text-align: left;
  width: 225px;
  text-decoration: none;
  margin-left: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.comment-author{
  font: 16px;
  font-weight: 600;
}

.comment main {
  font-size: 16px;
}

#info {
  font-family: 'Indie Flower', cursive;
  font-size: 15px;
}
