.gagets-wrapper {
  text-align: left;
  margin-left: 10px;
  margin-top:0;
  width: 260px;
  max-height: 300px;
  border: none;
}
.clock {
  display: block;
  width: 225px;
  font-weight: bold;
}
.clock ul {
  display: block
}
.clock-time{
  font-size: 65px;
}

.clock-date {
  font-size: 30px;
}

.weather {
  max-width: 1200px;
  display: block;
  font-weight: bold;
}

.weather ul {
  margin-top: 4px;
}

.weather-temp {
  font-size: 23px;
}
.weather-city {
  font-size: 36px;
}

.weather-gathering:hover {
  text-decoration: none;
}

.user-bio {
  margin-left: 20px;
}
