.gagets-wrapper {
  text-align: left;
  margin-left: 22px;
  margin-top:0;
  max-height: 300px;
  border: none;
}
.clock {

  display: block;
  font-weight: bold;
  font-size: 55px;
}

.clock ul {
  display: block;
  margin-bottom: 0;
}

.clock-time-wrapper {
  height: 49px;
  display: flex;
}

.clock-am-pm {
  margin-right: 20px;
}
.weather {
  display: block;
  font-weight: bold;
}

.weather ul {
  margin-top: 4px;
  font-size: 23px;
}

.weather-temp {
  float: left;
}
.weather-city {
  word-wrap: break-word;
}
.weather-gathering:hover {
  text-decoration: none;
}

.user-bio {
  margin-left: 20px;
}
