.gagets-wrapper {
  text-align: left;
  margin-left: 10px;
  margin-top:0;
  max-height: 300px;
  border: none;
}
.clock {
  display: block;
  font-weight: bold;
}
.clock ul {
  display: block;
  margin-bottom: 0;
}
.clock-time{
  font-size: 71px;
  margin-bottom: 0;
}

.clock-date {
  font-size: 28px;
}

.weather {
  display: block;
  font-weight: bold;
}

.weather ul {
  margin-top: 4px;
  font-size: 23px;
}

.weather-temp {
  float: left;
}
.weather-city {
  word-wrap: break-word;
}
.weather-gathering:hover {
  text-decoration: none;
}

.user-bio {
  margin-left: 20px;
}
