.menu-bar {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 20px;
}

.top-menu {
  display: flex;
  background: rgba(0,0,0,0.1);
  justify-content: center;
  align-items: center;
  height: 40px;
}

.gear-wrapper {
  display: flex;
  height: inherit;
  align-items: center;
  padding-bottom: 2px;
  border-right: 2px solid white;
  padding-right: 20px;
}

.gear-wrapper h2 {
  margin:0;
  float: left;
}

.gear-wrapper a {
  color: inherit;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.gear-wrapper a:hover {
  color: inherit;
}

.confirmation-wrapper-logout {
  display: flex;
  height: inherit;
  justify-content: space-between;
  align-items: center;
}

#home {
  margin-right: 5px;
  margin-left: 5px;
}

#home:hover {
  color: orange;
}
.to-profile {
  text-decoration: none;
  margin-right: 5px;
  margin-left: 5px;
}
.logout {
  margin-right: 5px;
  margin-left: 5px;
}
.logout-no {
  margin-right: 5px;
  margin-left: 5px;
}

.stream-menu {
  margin-bottom: 0;
  margin-left: 10px;
}

.stream-menu li {
  float:left;
  font-weight: bold;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;

}

.stream-menu li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.stream-menu li:last-child:hover {
  color: orange;
}

.side-menu-wrapper {
  text-align: center;
  float: left;
  margin-top: 20px;
  width: 290px;
  position: fixed;
  height: 100%;
  display: block;
  margin-bottom: 0;
}
