.menu-bar {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.menu-bar #user {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.menu-bar h2 {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}


.stream-menu-wrapper {
  text-align: center;
  position: fixed;
  width: 280px;
  display: block;
  margin-bottom: 0;
}


.stream-menu ul {
  margin-bottom: 0;
}

.stream-menu li {
  display: block;
  border: 1px solid #ccc;
  border-bottom: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
}

.stream-menu li:last-child{
  border-top: none;
  border: 1px solid #ccc;
}


.stream-menu li:hover {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}
