.search {
  background: aqua;
}

.search input {
  width: 98.3%;
}

.search label {
  display: block;
  clear: both;
}

.search-result {
  display: block;
  justify-content: flex-end;
  background: blue;
  margin-left: 10px;
  margin-right: 10px;
}
