.stream {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  text-align: center;
  margin-left: 325px;
  max-width: 1800px;
}


#DELETE_IMAGE:hover {
  font-weight: bold;
  color: orange;
  cursor: pointer;
}

#DELETE_IMAGE {
  color: white;
}

.confirmation-wrapper {
  display: flex;
  height: 20px;
  width: 150px;
  justify-content: space-around;
}
.confirmation-no, .confirmation-yes {
  font-size: 14px;
}
.confirmation-yes:hover {
  font-weight: bold;
  color: red;
}

.confirmation-no:hover {
  font-weight: bold;
  color: red;
}

.frame {
  width: 452px;
  height: 632px;
  float: left;
  background:rgba(0,0,0,0.1);
  vertical-align: baseline;
  border: 1px solid #ccc;
  margin: 15px;
  margin-bottom: 30px;
  margin-top: 0;
}

.frame-userName-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: inherit;
  text-decoration: none;
  margin-left: 5px;
  margin-bottom: 0;
  margin-top: 0;
}

.description-wrapper {
  font-size: 15px;
  margin-right: 10px;
  margin-top: 2px;
}
.trash-icon {
  text-align: right;
}
.img-wrapper {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 450px;
  height: 450px;
}

.img-wrapper img {
  max-width: 450px;
  max-height: 450px;
}

.img-create-descript, .delete-wrapper {
  float: right;
  text-align: right;
  align-items: baseline;
  height: 15px;
  width: 150px;
  margin-right: 5px;
  margin-left: 50px;
}
