.stream {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  text-align: center;
  margin-left: 300px;
}

.frame {
  width: 450px;
  min-height: 640px;
  float: left;
  vertical-align: baseline;
  border: 1px solid #ccc;
  margin: 5px;
  margin-top: 0;
}

.img-wrapper {
  border-top: 1.5px solid #ccc;
  border-bottom: 1.5px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 450px;
  height: 450px;
}

.img-wrapper img {
  max-width: 450px;
  max-height: 450px;
}

.img-create-descript, .delete-wrapper {
  float: right;
  text-align: right;
  align-items: baseline;
  height: 15px;
  width: 210px;
  margin-right: 5px;
  margin-left: 225px:
}

.like {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  width: 450px;
}

.like-num {
  margin-left: 5px;
}
.user-bio {
  margin-top: 20px;
  margin-left: 20%;
}

.comment-author-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.comment-author {
  margin-left: 0;
}

#DELETE_COMMENT{
  float: left;
  margin-left: 5px;
  width: 10px;
  margin-right: 5px;
}

.comment main {
  display: flex;
  word-wrap: break-word;
  width: 430px;
  text-align: left;
  margin-left: 20px;
  margin-right: 0;
}
